
  <div class="main-container m-5">    
    <h1>Portfolio</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultricies imperdiet lobortis. Maecenas ac aliquet mauris. Praesent at velit purus.</p>


<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="http://via.placeholder.com/700x400" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Project Name</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo quam dui, sed aliquam neque facilisis eu. Cras fermentum urna.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://via.placeholder.com/700x400" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Project Name</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo quam dui, sed aliquam neque facilisis eu. Cras fermentum urna.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://via.placeholder.com/700x400" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Project Name</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo quam dui, sed aliquam neque facilisis eu. Cras fermentum urna.</p>
    </div>
  </div>
</div>
</div>
   