
    <div class="main-container m-5">
    <div class="media">
  <img class="align-self-center mr-3 rounded-circle" src="https://placeimg.com/128/128/tech" alt="Generic placeholder image">
  <div class="media-body">
    <h5 class="mt-0"> The Second Heading<span class="text-muted"> Is Pretty Cool Too.</span></h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut placerat eleifend ante at pharetra. Proin vestibulum lacus id dui congue consectetur. Aliquam ac justo orci. Etiam facilisis finibus pharetra. Suspendisse potenti. Donec congue, risus eu rutrum sagittis, metus nisl viverra sem, sit amet venenatis est enim ut sapien. Donec varius diam libero, a congue nisl sodales ut.</p>
    </div>
</div>
</div>
   